<div class="col-xs-12">
			<h2>Mes Appareils</h2>
			  <p>Mise a jour: {{lastUpdate|async|date}}</p>
				<ul class="list-group">
					<app-appareil *ngFor = "let appareil of appareils; let i = index"
					[appareilName] ="appareil.Name" 
					[appareilStatus] = "appareil.Status"
					[indexOfAppareil] = "i"
					[id]="appareil.id"></app-appareil>
				</ul>
				<button class="btn btn-success" 
				(click)="onAllumer()" [disabled] ="!isAuth">
					Tout allumer 
				</button>
				<button class="btn btn-danger" 
				(click)="onEteindre()" [disabled] ="!isAuth">
					Tout éteindre
				</button>
				<button class="btn btn-primary"
        (click)="onSave()">Enregistrer</button>

        <button class="btn btn-primary"
        (click)="onFetch()">Restorer</button>
        </div>